* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
}
 
header {
    width: 100%;
    background-color: #297dad;
    color: #FFFFFF;
    padding: 10px;
    display: flex;
}
     
.content {
    display: flex;
    padding: 20px;
}
    
.barra-lateral {
    width: auto;
    height: 900px;
    background-color: #F5F5F5;
    padding: 10px;
}

.barra-lateral h2 {
    padding-bottom: 13px;
}
    
.secao-lives {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:10px;
}
  
footer {
    background-color: #297dad;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}
        
.canais {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.canais img {
    width: 20%;
    border-radius: 40px;
    margin-bottom: 10px;
}

.videos {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.video-item {
    display: inline-block;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: black;
}

.dropdown {
    position: relative;
    float:inline-start;
}
.dropdown a {
    color: white;
}
nav img {
    width: 2%;
    border-radius: 200px;
    float: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.content-tabela {
    border-collapse: collapse;
    width: 70%;
    margin-left: auto; 
    margin-right: auto;
    font-size: 23pt;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    text-align: center;
}

.tabela-streamers {
    width: 1300px;
    height: 1100px;
    display: flex;
    padding-left: 70px;
}

td img {
    width: 20%;
    border-radius: 70px;
}